body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side{
    display: flex;

}

.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 1.1em;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #696969;
    text-decoration: none;
    transition: color 0.5s;
}

.subtitle b {
    color: #696969;
    font-size: large;
}

.brand {
    color: #696969;
    text-decoration: none;
    font-size: x-large;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    border-bottom: black;
}

.picture {
    position: relative;
}

.center img{
    display: block;
    margin: 0 auto;
}

.center {
    text-align: justify;
    width: 250;
}
/**
*40 minutes
**/